---
import Layout from '../layouts/Layout.astro'
import Header from '../layouts/Header.astro'
import Main from '../layouts/Main.astro'
import Footer from '../layouts/Footer.astro'
import Flotante from '../components/WhatsAppFlotante.astro'
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="./public/inca-logo-white.png" type="image/x-icon" />
        <title>Inicio</title>
    </head>
    <Layout>
        <Header />
        <Main />
        <Footer />
        <Flotante />
    </Layout>
</html>
